@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root
{
    --font1: 'Bonheur Royale', cursive;
    --font2: 'Courgette', cursive;
    --font3: 'PT Serif', serif;

    --cor1: #0e0600;
    --cor2: black;
    --cor3: rgb(255, 233, 32);
    --cor4: #756A67;
    --corfooter: #23181A;
}

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: var(--cor1);
    color: white;
    scroll-padding-left: 0px;
}

::-webkit-scrollbar
{
    width: 0px;
}

a
{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

ul
{
    list-style: none;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1120PX;
    margin: auto;
    padding: 24px 10px;
}

nav > span
{
    font-family: var(--font3);
    font-size: 32px;
    font-weight: 100;
    text-transform: uppercase;
}

ul
{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

nav > a
{
    font-weight: 600;
    font-size: 20px;
    color: white;
    font-family: var(--font2);
}

nav a:hover
{
    color: var(--cor4);
}

main
{
    display: flex;
    flex-direction: column;
}

main > div
{
    background-color: var(--cor2);
}

.hero
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 96px;

    max-width: 1120px;
    height: 50vh;
    padding: 0px 32px;
    margin: auto;

    overflow-y: hidden;
}

.hero > header
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-img
{
    max-width: 45%;
    column-count: 4;
    column-gap: 16px;
}

.hero-img > figure > img
{
    width: 100%;
    border-radius: 8px;
}

.spans
{
    font: normal 16px var(--font2);
    text-transform: uppercase;
    color: var(--cor3);
}

h1
{
    font: 800 56px var(--font3);
}

.hero h2
{
    font: 400 20px sans-serif;
}

button
{
    width: 70px;
    height: 70px;
    padding: 16px;
    margin: 0px 150px;
    border-radius: 10px;
    background: white url(assets/button.png) center center no-repeat;
    background-size: 30px;
    border: none;
    transform: translate(0, -50%);
}

button:hover
{ background-color: var(--cor4); }

#cortes
{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 48px;
    margin: auto;
}

#cortes header
{
    gap: 8px;
}

#cortes h2
{
    font-family: var(--font3);
    font-size: 32px;
    font-weight: 700;
}

#cortes > p
{
    font: normal 16px var(--font3);
    color: var(--cor4);
}

.subtitulo
{
    margin-bottom: 32px;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.card
{
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    flex-basis: 29em;
}

.card > header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card > header > p
{
    font-size: 16px;
    color: var(--cor4);
}

.card > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card img
{
    border-radius: 50%;
    width: 24px;
}

.autor
{
    font-family: sans-serif;
    font-weight: 600;
    color: #C7BAB3;
}

.card-detalhes
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-detalhes > h3
{
    font-size: 24px;
    color: white;
}

footer
{
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
}

aside
{
    color: var(--cor4);
}