@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

:root
{
    --cor1: #3CD680;
    --cor2: #195935;
    --cor3: #84E1AD;
}

html, body
{
    width: 100%;
    height: 100%;
    background-color: var(--cor3);
}

header
{
    color: white;
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.498);
}
header > h1
{
    padding: 20px;
    font-size: 34px;
}
header > p
{
    font-size: 14px;
    padding: 0px 10%;
    padding-bottom: 25px;
}
header ul
{
   display: flex;
   list-style-type: none;
}
header a
{
    color: white;
    text-decoration-line: none;
    margin: 0px 10px;
}

main
{
    background-color: white;
    max-width: 600px;
    min-width: 300px;
    text-align: justify;
    margin: 0px auto;
    padding-bottom: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.537);
}
main > article
{
    padding: 8px;
}
main h1
{
    margin: 8px 0px;
}
main h2
{
    margin: 8px 0px;
}
main img
{
    width: 100%;
}
main section
{
    background-color: var(--cor2);
    width: 100%;
    height: 100%;
}
main iframe
{
    width: 100%;
    margin: 10px;
}

#article2
{
    background-color: var(--cor3);
    margin: 20px;
    padding: 8px;
    border-radius: 10px;
}
#article2 h1
{
    color: white;
    background-color: var(--cor2);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -8px;
    margin-bottom: 15px;
}
#article2 ul
{
    list-style-type: none;
    columns: 2;
    margin: 20px 0px;
    
}


footer
{
    color: white;
    background-color: var(--cor2);
    text-align: center;
    padding: 5px;
}