
/* IMPORT */




/* CONFIG */

@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

html
{
    width: 100vw;
    height: 100vh;
}

body
{ overflow-x: hidden; }


/* HEADER */

header
{
    height: 120px;
    color: white;
    text-align: center;
    background-color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.494);
}

header > h1
{
    padding-top: 30px;
    font-family: "Passion One", sans-serif;
}

header > p > a
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* MAIN */

article > p, div > p
{
    font-size: 16px;
    line-height: 30px;
    margin: 50px 0px 50px 30px;
    font-family: "Sriracha", cursive;
}

/* CONTAINER */

div
{
    display: flex;
    align-items: center;

    height: 400px;
    background-size: cover;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.504);
}

div#img1
{ background: black url(../material/imagens/background001.jpg) right center no-repeat fixed; }

div#img2
{ background: black url(../material/imagens/background002.jpg) right center no-repeat fixed; }

div > p
{
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: rgba(21, 21, 21, 0.552);
    text-shadow: 2px 2px 3px black;
}

/* FOOTER */

footer
{
    padding: 10px;
    margin-top: 50px;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 12px;
    width: 90vw;
}