@charset "UTF-8";

:root
{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

@media screen and (min-width: 768px)
{
    
    body { background-image: linear-gradient(to top, var(--verde), var(--lilas)); }
    #login
    { width: 85vw; }
    #login > #img
    {
        float: left;
        width: 30%;
        height: 100%;
    }
    #login > #formulario
    {
        float: right;
        width: 70%;
        height: 100%;
    }
    #formulario > h1
    {
        margin: 20px auto;
        font-size: 32px;
    }
    #formulario > p
    {
        margin: 25px 10px;
        font-size: 16px;
    }
    div.campo
    { margin: 30px auto; }
    div#campo1
    {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    div#campo2
    { margin-top: 10px; }
    input.botoes
    {
        width: 70%;
        height: 30px;
        font-weight: bolder;
        margin: 20px auto;
    }
    input#botao1
    { margin-bottom: 10px; }
    input#botao2
    { margin-top: 10px; }
}

@media screen and (min-width: 992px)
{
    #login
    { max-width: 990; }
    #login > #img
    { width: 50%; }
    #login > #formulario
    { width: 50%; }
    #formulario > p
    { margin: 25px 25px; }
}