@charset "UTF-8";

:root
{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

@media screen and (min-width: 768px)
{
    body { background-image: linear-gradient(to top, var(--verde), var(--lilas)); }
    #login
    { width: 85vw; }
    #login > #img
    {
        float: left;
        width: 30%;
        height: 100%;
    }
    #login > #formulario
    {
        float: right;
        width: 70%;
        height: 100%;
    }
    .botoes
    {
        width: 70%;
        height: 30px;
        font-weight: bolder;
    }
}

@media screen and (min-width: 992px)
{
    #login
    { max-width: 990; }
    #login > #img
    { width: 50%; }
    #login > #formulario
    { width: 50%; }
    #formulario > p
    { font-size: 16px; }
}
@media screen and (min-width: 1200px)
{

}