@charset "UTF-8";

body { background-color:rgb(40, 40, 40) ; }
h1 { text-align:center; color: rgb(236, 229, 229);}
h2 { color: rgb(236, 229, 229);}
p { text-align: center; color: rgb(236, 229, 229);}
a { color: rgb(64, 58, 245);}